[submodule "java-ilp-core"]
	path = java-ilp-core
	url = https://github.com/everis-innolab/java-ilp-core
[submodule "java-crypto-conditions"]
	path = java-crypto-conditions
	url = https://github.com/everis-innolab/java-crypto-conditions
[submodule "java-ilp-ledger-simple"]
	path = java-ilp-ledger-simple
	url = https://github.com/everis-innolab/java-ilp-ledger-simple.git
[submodule "java-ilp-common"]
	path = java-ilp-common
	url = https://github.com/everis-innolab/java-ilp-common
[submodule "java-ilp-common-api"]
	path = java-ilp-common-api
	url = https://github.com/everis-innolab/java-ilp-common-api
[submodule "java-ilp-connector-api"]
	path = java-ilp-connector-api
	url = https://github.com/everis-innolab/java-ilp-connector-api.git
[submodule "java-ilp-ledger-api"]
	path = java-ilp-ledger-api
	url = https://github.com/everis-innolab/java-ilp-ledger-api
